[submodule "media/js/headjs"]
	path = media/js/headjs
	url = git://github.com/headjs/headjs.git
[submodule "static/js/backbone"]
	path = static/js/backbone
	url = https://github.com/documentcloud/backbone/
[submodule "static/js/underscore"]
	path = static/js/underscore
	url = https://github.com/documentcloud/underscore/
