[submodule "django_social_auth"]
	path = django_social_auth
	url = git://github.com/omab/django-social-auth.git
[submodule "django_css"]
	path = django_css
	url = git://github.com/dziegler/django-css.git
[submodule "less_js"]
	path = less_js
	url = git://github.com/cloudhead/less.js.git
[submodule "static/js/third_party/headjs"]
	path = static/js/third_party/headjs
	url = https://github.com/headjs/headjs.git
[submodule "static/js/third_party/backbone"]
	path = static/js/third_party/backbone
	url = https://github.com/documentcloud/backbone/
[submodule "static/js/third_party/underscore"]
	path = static/js/third_party/underscore
	url = https://github.com/documentcloud/underscore/
