<!DOCTYPE html>
<html>
    <head>
        <title>Oakland:PM</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}css/style.less">
        <script src="{{ STATIC_URL }}js/headjs/dist/head.min.js"></script>
    </head>
    <body role="page">
		{% block masthead %}
    	<div class="masthead">
			<h3>oakland.pm</h3>
		</div>
		{% endblock masthead %}
        <div class="content">
            {% block content %}
            {% endblock content %}
        </div>
		{% block bottom_nav %}
		<ul class="nav nav-bottom cf">
			<li><a href="javascript:void(0);" rel="feed">Feed</a></li>
			<li><a href="javascript:void(0);" rel="search">Search</a></li>
			<li><a href="javascript:void(0);" rel="friends">Friends</a></li>
			<li><a href="javascript:void(0);" rel="messages">Messages</a></li>
		</ul>	
		{% endblock bottom_nav %}
        <script>
            var csrf_token = "{{ c.csrf_token }}";
            head.js(
              {jquery:     "http://code.jquery.com/jquery-1.5.2.min.js"},
              {less:       "{{ STATIC_URL }}js/less-1.1.3.min.js"},
              {underscore: "{{ STATIC_URL }}js/underscore/underscore.js"},
              {backbone:   "{{ STATIC_URL }}js/backbone/backbone.js"},
              {raphael:     "{{ STATIC_URL }}js/raphael-min.js"},
              {oaklandpm:  "http://use.typekit.com/clx5ygc.js"},
              {oaklandpm:  "{{ STATIC_URL }}js/utils.js"},
              {oaklandpm:  "{{ STATIC_URL }}js/init.js"},
              {oaklandpm:  "{{ STATIC_URL }}js/oaklandpm.js"},
			  {oaklandpm:  "{{ STATIC_URL }}js/Page.js"}
            );
            head.ready(function() {
            	try{Typekit.load();}catch(e){}
                
				opm.options = {
                };
                opm.opmc = new opm.OaklandPm(opm.options);
				
				/*
				$.extend(opm.pages, {
		        	feed: new opm.Feed
		        });
				opm.pages.select('feed');
				*/
            });
        </script>
    </body>
</html>
