{% extends "base.html" %}

{% block content %}
<div id="categories" class="page categories">
	<div class="numeral"><span>1</span></div>	
	<h4>Choose category</h4>
	<ul class="list list-categories cf">
		{% for category in categories %}
            {% if category.pk == selected.pk %}
                <li class='selected'><a href='/category/{{ category.name }}/">{{ category.name }}</a></li>
            {% else %}
                <li><a href='/category/{{ category.name }}/">{{ category.name }}</a></li>
            {% endif  %}
		{% endfor %}
	</ul>
	
	{% if tags %}
	<div class="numeral"><span>2</span></div>	
	<h4>Choose type</h4>
	<ul class="list list-tags cf">
		{% for tag in tags %}
            <li>{{ tag.name }}</li>
		{% endfor %}
	</ul>
	{% endif %}
	
	{% if programs %}
	<div class="numeral"><span>3</span></div>	
	<h4>Choose event</h4>
        {% for program in programs %}
        <ul class="list-table cf">
            <li class="title">{{ program.name }}</li>
            <li class="distance">Distance 2.2mi</li>
            <li class="time-until">Event in 3 days</li>
        </ul>
    	{% endfor %}
	{% endif %}
</div>
{% endblock %}
