
{% block content %}
<div id="event-detail" class="page event-detail">
	<h1 class="title">Marcia's dance for the future</h1>
	
	<div class="banner">image</div>

	<p>Summary: A dance to end all dances. This event will rock your socks, and send you flying across the universe. You will touch the stars, and your feet will leave the ground. Dance with your new partners, compete for prizes!Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacinia nibh eu ipsum placerat vehicula fermentum nunc cursus. Nunc risus mi, laoreet a imperdiet vitae, accumsan vel justo. Vestibulum vitae erat ac tellus hendrerit consequat. Nam quis malesuada massa. </p>
	
	<ul class="details cf">
		<li class="distance badge">Distance<br>2.2mi</li>
		<li class="time-until badge">Time until<br>3 days</li>
		<li class="attending badge">I am<br>attending</li>
		<li class="headcount badge"><span>23</span> Total students</li>
	</ul><!-- end list details -->
</div>
{% endblock %}