{% extends "base.html" %}

{% block content %}
<div id="event-detail" class="page event-detail">
    <h1 class="title">{{ program.name }}</h1>
	
	<div class="banner">image</div>

    <p>{{ program.summary }}</p>
	
	<ul class="details cf">
		<li class="distance badge">Distance<br>2.2mi</li>
		<li class="time-until badge">Time until<br>3 days</li>
		<li class="attending badge">I am<br>attending</li>
		<li class="headcount badge"><span>23</span> Total students</li>
	</ul><!-- end list details -->
</div>
{% endblock %}
