<div id="categories" class="page categories">
	<h4>Choose category</h4>

		{#{% for category in categories %}#}
		<div class="group">
			<h2><a href="/feed" rel="feed">Visual Art</a></h2>
			{#{% if tags %}#}
			<ul class="list list-tags cf">
				{#{% for tag in tags %}#}
				<li><a href="/feed" rel="feed">Baseball</a></li>
				<li>Basketball</li>
				<li>Soccer</li>
				<li>Chess</li>
				<li>Snooker</li>
				<li>Jai-alai</li>
				<li>Billiard</li>
				<li>Swimming</li>
				<li>Rock climbing</li>
				<li>Bicycling</li>
				<li>Parcour</li>
				<li>Skateboarding</li>
				<li>Rollerskating</li>
				<li>Martial Arts</li>
				<li>Bowling</li>
				{#{% endfor %}#}
			</ul>
			{#{% endif %}#}
		</div>
		<div class="group">
			<h2>Music</h2>
			{#{% if tags %}#}
			<ul class="list list-tags cf">
				{#{% for tag in tags %}#}
				<li>Baseball</li>
				<li>Basketball</li>
				<li>Soccer</li>
				<li>Chess</li>
				<li>Snooker</li>
				<li>Jai-alai</li>
				<li>Billiard</li>
				<li>Swimming</li>
				<li>Rock climbing</li>
				<li>Bicycling</li>
				<li>Parcour</li>
				<li>Skateboarding</li>
				<li>Rollerskating</li>
				<li>Martial Arts</li>
				<li>Bowling</li>
				{#{% endfor %}#}
			</ul>
			{#{% endif %}#}
		</div>
		<div class="group">
			<h2>Dance</h2>
			{#{% if tags %}#}
			<ul class="list list-tags cf">
				{#{% for tag in tags %}#}
				<li>Baseball</li>
				<li>Basketball</li>
				<li>Soccer</li>
				<li>Chess</li>
				<li>Snooker</li>
				<li>Jai-alai</li>
				<li>Billiard</li>
				<li>Swimming</li>
				<li>Rock climbing</li>
				<li>Bicycling</li>
				<li>Parcour</li>
				<li>Skateboarding</li>
				<li>Rollerskating</li>
				<li>Martial Arts</li>
				<li>Bowling</li>
				{#{% endfor %}#}
			</ul>
			{#{% endif %}#}
		</div>	
		<div class="group">
		<h2>Sports</h2>
			{#{% if tags %}#}
			<ul class="list list-tags cf">
				{#{% for tag in tags %}#}
				<li>Baseball</li>
				<li>Basketball</li>
				<li>Soccer</li>
				<li>Chess</li>
				<li>Snooker</li>
				<li>Jai-alai</li>
				<li>Billiard</li>
				<li>Swimming</li>
				<li>Rock climbing</li>
				<li>Bicycling</li>
				<li>Parcour</li>
				<li>Skateboarding</li>
				<li>Rollerskating</li>
				<li>Martial Arts</li>
				<li>Bowling</li>
				{#{% endfor %}#}
			</ul>
			{#{% endif %}#}
		</div>
		<div class="group">
			<h2>Academics</h2>
			{#{% if tags %}#}
			<ul class="list list-tags cf">
				{#{% for tag in tags %}#}
				<li>Baseball</li>
				<li>Basketball</li>
				<li>Soccer</li>
				<li>Chess</li>
				<li>Snooker</li>
				<li>Jai-alai</li>
				<li>Billiard</li>
				<li>Swimming</li>
				<li>Rock climbing</li>
				<li>Bicycling</li>
				<li>Parcour</li>
				<li>Skateboarding</li>
				<li>Rollerskating</li>
				<li>Martial Arts</li>
				<li>Bowling</li>
				{#{% endfor %}#}
			</ul>
			{#{% endif %}#}
		</div>	
		<div class="group">
			<h2>Theater</h2>
		</div>	
		<div class="group">
			<h2>Cooking</h2>
		</div>	
		<div class="group">
			<h2>Makers</h2>
		</div>	
		{#{% endfor %}#}
	

	
	{#{% if tables %}#}
	<h4>Choose event</h4>
	{#{% for table in tables %}#}
	<ul class="list-table cf">
		<li class="title">Hockey and Snooker Class</li>
		<li class="distance">Distance 2.2mi</li>
		<li class="time-until">Event in 3 days</li>
	</ul>
	{#{% endfor %}#}
	{#{% endif %}#}
</div>
